#primary
  %h2 New (#{@new_items.count})
  %ol
    = render(@new_items)
#content
  %h2 Action (#{@action_items.count})
  %ol
    = render(@action_items)

  %hr
  %h2 Hold (#{@hold_items.count})
  %ol
    = render(@hold_items)
#secondary
  %h2 Done (#{@done_items.count})
  %ol
    = render(@done_items)

    


