#container
  #header
    %h1 Kanban Mail

  #primary
    %h2 New (#{@items.count})
    %ol
      - @items.each do |item|
        %li #{item.subject} - #{item.queue}
  #content
    %h2 Action (#{@items.count})
    %ol
      - @items.each do |item|
        %li #{item.subject} - #{item.queue}
    %hr
    %h2 Hold (#{@items.count})
    %ol
      - @items.each do |item|
        %li #{item.subject} - #{item.queue}
  #secondary
    %h2 Done (#{@items.count})
    %ol
      - @items.each do |item|
        %li #{item.subject} - #{item.queue}
  #footer
    %p footer

    


