#content
  %h1 #{@item.subject}
  = form_for @item do |f|
    = f.label(:queue, 'Move to:')
    = f.select(:queue, options_for_select(@item_queues, @item.queue))
    = f.label(:due_date, 'Due on:')
    = f.date_select(:due_date, :use_month_numbers => true)
    = f.submit("Move")
  %p= @item.body